@import url('https://fonts.googleapis.com/css?family=Cinzel');

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-family: 'Cinzel', serif;
    font-size: 36px;
    color: #444;
    padding: 0 10px;
    text-shadow:#0000008c 2px 2px 5px;
}

h1, h2, h3 {
    line-height: 1.2;
    text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
